﻿<%@ page title="Etiqueta Estudio" language="C#" masterpagefile="~/Layout.master" autoeventwireup="true" inherits="Estudios_VerResultados, App_Web_3bgualqq" %>
<%@ Register Assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"
    Namespace="CrystalDecisions.Web" TagPrefix="CR" %>
<asp:Content ID="Content_Principal" ContentPlaceHolderID="ContentPlaceHolder_Principal" runat="Server">

    <asp:Label ID="LabelId" Visible="false" runat="server"></asp:Label>
    <asp:Label ID="LabelLayOut" Visible="false" runat="server"></asp:Label>
    <cr:crystalreportviewer enabledatabaselogonprompt="false" enableparameterprompt="false"
        id="Resultado" runat="server" />
       
</asp:Content>


